<ion-header>
  <ion-toolbar>
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Este é um aplicativo simples de verificação de clima usando a API WeatherAPI.<br><br>Você pode buscar qualquer cidade e como resposta obterá o grau em celsius daquela cidade em tempo real, além de prever o clima para os próximos três dias.
  </p>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button routerLink="/home">Voltar para Home</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
